# Terraform state
*.tfstate
*.tfstate.backup

# Crash logs
crash.log

# Terraform variables (se conter segredos)
terraform.tfvars
*.auto.tfvars

# Diretório de cache do Terraform
.terraform/

# Planos temporários
*.tfplan

# Arquivos do sistema
.DS_Store
Thumbs.db

# Chaves SSH ou arquivos sensíveis
*.pem
*.key
*.crt

# Arquivos temporários ou de build
*.log
*.bak
*.tmp
